<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.kiwiproject.test" level="TRACE"/>

    <!-- This is required for LoggingComparisonListenerTest -->
    <appender name="LoggingComparisonListenerTestAppender" class="org.kiwiproject.test.logback.InMemoryAppender"/>

    <!-- This is required for LoggingComparisonListenerTest -->
    <logger name="org.kiwiproject.test.xmlunit.LoggingComparisonListenerTest" level="WARN">
        <appender-ref ref="LoggingComparisonListenerTestAppender"/>
    </logger>

    <!-- This is required for InMemoryAppenderTest -->
    <appender name="InMemoryAppenderTestAppender" class="org.kiwiproject.test.logback.InMemoryAppender"/>

    <!-- This is required for InMemoryAppenderTest -->
    <logger name="org.kiwiproject.test.logback.InMemoryAppenderTest" level="DEBUG">
        <appender-ref ref="InMemoryAppenderTestAppender"/>
    </logger>

    <!-- This is required for LogbackTestHelpersIntegrationTest -->
    <appender name="LogbackTestHelpersIntegrationTestAppender" class="org.kiwiproject.test.logback.InMemoryAppender"/>

    <!-- This is required for LogbackTestHelpersIntegrationTest -->
    <logger name="org.kiwiproject.test.logback.LogbackTestHelpersIntegrationTest" level="DEBUG">
        <appender-ref ref="LogbackTestHelpersIntegrationTestAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
